.arrival{
    min-height:100vh;
}
.arrival .box-container{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
    padding:2rem 0;
    width:85%;
    margin:0 auto;
}
.arrival .box-container .box{
    flex:1 1 30rem;
    border:.1rem solid rgba(0,0,0,.3);
    overflow:hidden;
    position:relative;
    margin: 1rem 2rem;
    border-radius:15px;
}
.arrival .box-container .box .image{
    height:20rem;
    padding:2rem;
    text-align:center;
}
.arrival .box-container .box .image img{
    height:100%;
    object-fit:cover;
}
.arrival .box-container .box .info h3{
   padding:1rem;
   font-size:2rem;
    color:var(--green);
}
.arrival .box-container .box .info .subİnfo{
   display:flex;
   align-items:center;
   justify-content:space-between;
   padding:1rem;
   border-top:.1rem solid rgba(0,0,0,.3);
 }
 .arrival .box-container .box .info .subİnfo .price{
    color:var(--green);
    font-size:2rem;
 }
 .arrival .box-container .box .info .subİnfo .price span{
    color:#666;
    font-size:1.5rem;
    text-decoration:line-through;
 }
 .arrival .box-container .box .info .subİnfo .stars i{
    color:orange;
    font-size:1.5rem;
 }
 .arrival .box-container .box .overlay{
    position:absolute;
    top:0;left:0;
    height:20rem;
    width:100%;
    background:rgba(0,0,0,.3);
    display:flex;
    align-items:center;
    justify-content:center;
    transform:scale(0);
    
 }
 .arrival .box-container .box:hover .overlay{
    transform:scale(1);
 }
 .arrival .box-container .box .overlay a{
    font-size:2rem;
    padding:1.5rem 2rem;
    background:#fff;
    color:#666;
    margin:1rem;
    transform:translateY(-15rem);
    
 }
 .arrival .box-container .box:hover .overlay a{
    transform:translateY(0rem);
 }
 .arrival .box-container .box .overlay a:hover{
    color:var(--green);

 }

 @media (max-width:768px){
    .arrival .box-container{
        width:auto;
    }
 }