.btn{
    height:4rem;
    width:15rem;
    background:var(--green);
    color:#fff;
    font-size:2rem;
    cursor:pointer;
    border:none;
    outline:none;
    border-radius:15px;
}
.btn:hover{
    letter-spacing:.2rem;
    opacity:.8;
}
.home .home-slider .item{
    position:relative;
    transition: width 2s linear 1s;
}
.home .home-slider .item img{
    height:100vh;
    width:100%;
    object-fit:cover;
}
.home .home-slider .item .content{
    position:absolute;
    top:50%;left:5%;
    transform:translateY(-50%);
}
.home .home-slider .item .content h3{
    color:white;
    text-shadow:0 .3rem .5rem #000;
    font-size:5rem;
    text-transform:uppercase;
}
.home .home-slider .item .content p{
    color:white;
    font-size:2.5rem;
    padding:2rem 0;
    width:50rem;
}
.arrows .left{
    position: absolute;
    width: 4rem;
    height: 4rem;
    top: 60%;
    left: 2rem;
    cursor:pointer;
}
.arrows .right{
    position: absolute;
    width: 4rem;
    height: 4rem;
    top: 60%;
    right: 2rem;
    cursor:pointer;
}

@media (max-width:600px){
    html{
        font-size:50%;
    }
    .home .home-slider .item .content h3{
        
        font-size:3rem;
       
    }
    .home .home-slider .item .content p{
       
        font-size:2rem;
        width:auto;
       
    }
}