.feature{
    min-height:100vh;
    background:linear-gradient(165deg,#fff 50%,var(--green) 50.1%);
    padding-bottom:2rem;
}
.feature .row{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
    padding:2rem 0;
    margin:2rem auto;
    width:95%;
    background:#fff;
    box-shadow:0 .3rem .5rem rgba(0,0,0,.3);
    border-radius:1rem;
}
.feature .row .image-container{
    display:flex;
    align-items:center;
}
.feature .row .image-container .big-image img{
    height:30rem;
    margin: 2rem 0;
    filter:drop-shadow(0 .1rem .5rem #666);

}
.feature .row .image-container .small-image{
    display:flex;
    justify-content:center;
    flex-flow:column wrap;
}
.feature .row .image-container .small-image img{
    height:6rem;
    padding:1rem;
    margin:1rem;
    border:.1rem solid #666;
    cursor:pointer;
}
.feature .row .image-container .small-image img.image-active,
.feature .row .image-container .small-image img:hover{
    border:.2rem solid var(--green);
}
.feature .row .content{
    padding-left:6rem;
}
.feature .row .content h3{
    font-size:4rem;
    color:var(--green);
}
.feature .row .content .stars i{
    font-size:2rem;
    color:orange;
    padding:1rem 0;
    
}
.feature .row .content .stars span{
    font-size:2rem;
    color:#666;
}
.feature .row .content p{
    font-size:2rem;
    color:#666;
    width:40rem;
    padding:2rem 0;
}
.feature .row .content .price{
    color:var(--green);
    font-size:2rem;
}
.feature .row .content .price span{
    color:#666;
   text-decoration:line-through;
   font-size:1.3rem;
   padding:0.2rem;
}
.feature .row .content .btn{
    margin-left:2.2rem;
}

@media (max-width:600px){
    .feature .row .image-container{
        flex-flow:column wrap;
    }
    .feature .row .image-container .small-image{
        flex-flow:row wrap;
        padding-bottom:2rem;
    }
    .feature .row .content{
        padding:2rem;
        border-top:.1rem solid rgba(0,0,0,.3);
    }
    .feature .row .content p{
       width:auto;
    }
    .feature .row .content .btn{
        margin:2rem 0;

    }
}