header .header-1, header .header-2{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:1.5rem;
    width:100%;
    z-index:1000;
}
header .header-1 .logo{
    font-size:2rem;
    color:#666;
}
header .header-1 .logo i{
    color:var(--green);
}
header .header-1 .form-container form{
    display:flex;
}
header .header-1 .form-container form #search{
    height:4rem;
    width:50rem;
    outline:none;
    border:.2rem solid #666;
    font-size:1.5rem;
    padding:0 1rem;
}
header .header-1 .form-container form #search:focus{
    border-color:var(--green);
}
header .header-1 .form-container form label{
    height:4rem;
    width:5rem;
    text-align:center;
    line-height:4rem;
    font-size:2rem;
    cursor:pointer;
    background:var(--green);
    color:#fff;
}
header .header-1 .form-container form label:hover{
    color:#666;
}
header .header-2{
    background:var(--green);
}
header .header-2 .navbar ul{
    list-style:none;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
header .header-2 .navbar ul li{
    margin :0 1rem;
}
header .header-2 .navbar ul li a{
    font-size:2rem;
    color:white;
}
header .header-2 .navbar ul li a.active,
header .header-2 .navbar ul li a:hover{
    color:#666;
}
header .header-2 .icons a{
    color:#fff;
    font-size:2rem;
    padding:0 1rem;
}
header .header-2 .icons a:hover{
    color:#666;
}
header .header-2 #menu{
    font-size:3rem;
    color:#fff;
    display:none;
    cursor:pointer;
}
header .navbarBars{
    display:none;
}


















@media (max-width:768px){
    html{
        font-size:55%;
    }
    header .header-1 .form-container form #search{
        width:100%;
    }
    header .header-2 #menu{
        display:block;
    }
    header .header-2 .navbar{
        display:none;
        position:absolute;
        top:-200rem;left:50%;
        transform:translate(-50%,-50%);
        box-shadow:0 0 0 100vh rgba(0,0,0,.3);
        z-index:10000;
        opacity:0;
    }
    header .navbarBars{
        position: absolute;
        /* top: -200rem; */
        top: 42rem;
        background: white;
        left: 50%;
        transform: translate(-50%,-50%);
        box-shadow: 0 0 0 100vh rgb(0 0 0 / 30%);
        z-index: 10013;
    }
    header .navbarBars ul{
        flex-flow:column;
        background:linear-gradient(var(--green),#00ff00);
        border:.2rem solid #fff;
        box-shadow:0 .3rem .5rem #000;
        padding:4rem 0;
        width:27rem;
        
    }
    header .navbarBars ul li{
        width:100%;
        margin:1rem 0;
        text-align:center;
        list-style:none;
    }
    header .navbarBars ul li a{
        font-size:2.5rem;
        display:block;
    }
    header .header-2 .nav-toggle{
        top: 50%;
        opacity: 1;
    }
}
@media (max-width:400px){
    header .header-1{
        flex-flow:column;
        padding:1rem;
    }
    header .header-1 .logo{
        padding-bottom:1.5rem;
    }
}